.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 50px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 30px auto;
}

.App-refresh {
  margin: 10px auto;
}
